{% extends "hotdog_app/db_admin_layout.html" %}
{%load static%}

{% block title %}
    <Title>DB Admin</Title>
{% endblock %}

{% block css %}
    <link href="{% static 'hotdog_app/db/db_theme.css' %}" rel="stylesheet">
    <link href="{% static 'hotdog_app/db/fonts.css' %}" rel="stylesheet">
    <link href="{% static 'hotdog_app/db/general.css' %}" rel="stylesheet">
    <link href="{% static 'hotdog_app/db/svgBeermat.css' %}" rel="stylesheet">
    <link href="{% static 'hotdog_app/db/DB_admin.css' %}" rel="stylesheet">
{% endblock %}

{% block center_panel %}

    <section class='db-admin-container'>

        <h1> DB Admin </h1>

        <div class="buttons-container">



                <div class='db-button-row'>
                    <a href="{% url 'hotdog_app:logout_view' %}">
                        <div class="curtain-btn db-button">
                            <div class="curtain-btn-hover-state" ></div>
                            <span>Logout</span>
                        </div>
                    </a>

                    <a href="{% url 'hotdog_app:index' %}">
                        <div class="curtain-btn db-button">
                            <div class="curtain-btn-hover-state" ></div>
                            <span>Return</span>
                        </div>
                    </a>
                </div>



                <div class='db-button-row'>  
                    <a href="{% url 'hotdog_app:arch_images' %}">
                        <div class="curtain-btn db-button">
                            <div class="curtain-btn-hover-state" ></div>
                            <span>Archictecture</span>
                        </div>
                    </a>

                    <a href="{% url 'hotdog_app:occult_images' %}">
                        <div class="curtain-btn db-button">
                            <div class="curtain-btn-hover-state" ></div>
                            <span>Occult</span>
                        </div>
                    </a>

                    <a href="{% url 'hotdog_app:music_images' %}">
                        <div class="curtain-btn db-button">
                            <div class="curtain-btn-hover-state" ></div>
                            <span>Music</span>

                        </div>
                    </a>
                </div>

                <div class='db-button-row'>
                    <a href="{% url 'hotdog_app:delete_all' %}">
                        <div class="curtain-btn db-button db-delete">
                            <div class="curtain-btn-hover-state" ></div>
                        <span>Delete All</span>
                        </div>
                    </a>

                    <a href="{% url 'hotdog_app:insert_all' %}">
                        <div class="curtain-btn db-button db-button">
                            <div class="curtain-btn-hover-state" ></div>
                        <span>Insert All</span>
                        </div>
                    </a>
                </div>

                <div class='db-button-row'>
                    <div class='db-footer'>{{message}}</div>
                </div>

        </div>
    
    </section>
    
 
    


{% endblock %}