

.about-component{
    position:absolute;
    display: block;
    top: 3vh;
    left: 1vw;
  
    width: 90vw;
    aspect-ratio: 1/1;
  
    z-index: 2;
  
    background-color: var(--lt-002);
    border: 2px solid var(--red-003);
    border-top: 5vh solid var(--red-004);
    border-radius: 2vw;
  }

  .about-close-btn{
    position: relative;
    display: absolute;
    width: 4vh;
    height: 4vh;
  
    top: -4vh;
    left: calc(100% - 4vh);


    border: 2pv solid white;
    /* background-color: var(--dk-003);
    outline: 2px solid var(--dk-002); */
    /* border-top-left-radius: 2vw;
    border-top-right-radius: 2vw; */
  
  }